@charset "utf-8";
/* CSS Document */

/*******NAV LOGIC*********/
@media all and (orientation: landscape) {

  html {
    font-size: 10px;
  }

  #nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    /*background: linear-gradient(to bottom, blue , darkblue);*/   
    font-family: Arial, Helvetica, Helvetica neue, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    background-color: #000000;
}
#logo {

    height: inherit;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0rem;
    vertical-align: text-top;
    text-align: left;
}
#logo h1 {
  vertical-align: text-top;
}
#nav ul {
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0rem;
}
#nav li {
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    margin-bottom: 0rem;
    vertical-align: text-bottom;
}
#nav li a {
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}
#nav a:hover {
    color: #000000;
    background-color: #ffffff;

}
#nav a:active {
    color: #000000;
    background-color: #D0D0D0;
}
#nav ul li a {
    vertical-align: text-bottom;
    overflow: hidden;
    --a-size: inherit;
}

#nav .sub_nav_list >ul{
   width: 0rem;
   height: 0rem;
   overflow: hidden; 
}
#nav .sub_nav_list a:hover{
    overflow: visible;
    width: auto;
    height: auto;
}
#nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: inherit;
  height: 2rem;
  white-space: nowrap;
}

nav {
    width: 100%;
}

}

@media all and (orientation: portrait) { 

html{
    font-size: 10px;
}

  #nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;   
    font-family: Arial, Helvetica, Helvetica neue, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    background-color: #000000;
}
#logo {
    height: inherit;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0rem;
    vertical-align: text-top;
    text-align: left;
    font-size: 0.7rem;
}
#nav ul {
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
#nav li {
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    margin-bottom: 0rem;
    vertical-align: text-bottom;
}
#nav li a {
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}
#nav a:hover {
    color: #000000;
    background-color: #ffffff;
}
#nav a:active {
    color: #000000;
    background-color: #D0D0D0;
}
#nav ul li a {
    display: inline-block;
    vertical-align: text-bottom;
    overflow: hidden;
}
nav {
    width: 100%;
}
#nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: inherit;
  height: 2rem;
  white-space: nowrap;
  margin-top: 0rem;
}


}
/******END OF NAV LOGIC********/

.flow-text-strong{
  font-weight: 500;
}

@media only screen and (min-width: 360px) {
  .flow-text-strong {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text-strong {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text-strong {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text-strong {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text-strong {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text-strong {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text-strong {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text-strong {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text-strong {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text-strong {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text-strong {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text-strong {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text-strong {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text-strong {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text-strong {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text-strong {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text-strong {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text-strong {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text-strong {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text-strong {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text-strong {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text-strong {
    font-size: 1.2rem;
  }
}

.homepage_title{
	
	margin-top: 30%;
}

.padding_top_n{
	padding-top: 0px;
}

.full_b{
	box-sizing: border-box;
	display: block;
	width: 100%;
	top: 100px;
	 
}

.margin_t_auto{
	margin-top: auto;
}

.background_c_n{
	background-color:rgba(0,0,0,0.00);
	
}
.padding_n{
	padding: 0px;
}
.padding_b_n{
	margin-bottom: -8px;
}
.padding_b_s{
	padding-bottom: 20px;
}
.padding_top_home{
	padding-top: 100px;
}
.medium_text{
  font-size: 130%;
}
.box_shadow_n{
	box-shadow:none; 
}
.display_block{
	display: block;
}
.display_n {
	display: none;
}
.padding{
	padding: 10px;
}

.mycard_title{
	margin-bottom: 0px;
	padding: 0px;

}

.my_t_b{
	background-color: #000000;
	background-color: rgba(0,0,0,0.45);
	text-shadow: 0px 0px 10px #000000;
}
.text_shadow{
	text-shadow: 0px 0px 10px #000000;
}
.my-blue{
	background-color:rgba(0,18,224,1.00);
}
.black_fade{
		background-color: #000000;
	background-color: rgba(0,0,0,0.45);
}

.neg_top_margin{
	margin-top: -7px;
}

.full100_respn{
  width: 100%;
  height: 100%;
}
.img_respn{
  max-width: 100%;
  height: auto;
}
.absolute_bottom_left{
  position: absolute;
  bottom: 0;
  left: 0;
}
#tank {
  display: block;
  box-shadow: none;
  /*display: block;
width: 100%;*/
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;

}

.veryback {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 2;
  /*background-color: lightpink;	*/
}

.middleground {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 4;
  /*background-color: aquamarine;
opacity: 0.3;*/
}

.foreground {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 6;
  /*background-color: aquamarine;
opacity: 0.3;*/
}

.gravel {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 0;
  
}

.back_wall {
  display: block;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

/****TANK CSS LOGIC FOR DIFFERENT ORIENTATIONS******/
@media all and (orientation: landscape) {

  .fish {
    display: block;
    position: absolute;
    width: 30%;
    transform: translateX(0px) translateY(0px);
  }


}
@media all and (orientation: portrait) {

  .fish {
  display: block;
  position: absolute;
  width: 72%;
  transform: translateX(0px) translateY(0px);
  }
  .veryback{
  width: 250%;
  }
  .veryback img{
    transform: translateY(17%) translateX(-2%);
  }
  
  .middleground img{
    display: block;
    position: fixed;
    max-width: 100%;
    z-index: 4;
    transform: scale(1.7) rotate(-110deg);
    bottom: 0;
    margin-bottom: 10%;
    }
  .driftwood_adj {
    margin-bottom: 5% !important; /*heresy*/
  }

  
  .foreground {
    width: 200%;
  }
  
  .foreground img{
    transform: translateY(1%) translateX(-2%);
  }
  .crypto_adj {
    transform: translateY(4%) translateX(0) !important; /*heresy*/
  }
  .java_adj{
    transform: translateY(14%) translateX(-12%) !important; /*heresy*/
  }
}

/*****END OF FISH LOGIC******/

.z_2 {
  z-index: 3;
}

.z_4 {
  z-index: 5;
}

.background_img {
  background: url(img/rockwall2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.negitive-top {
  margin-top: 0px;
}

.full-width {
  display: block;
  width: 100%;
}

.uber_top {
  position: absolute;
  z-index: 45;
}
/*all classes with "y_180_rotate*" will have the fish facing left*/

.betta_fish{
  width: 25%;
  height: auto;
}
.angle{}

.y_180_rotate {
  rotate: y 180deg;
}
.y_180_rotate_down {
rotate: y 180deg;
transform: rotate(15deg);
transform-origin: center;
transition: all .4s ease-in-out;
}
.y_180_rotate_up {
rotate: y 180deg;
transform: rotate(-15deg);
transform-origin: center;
transition: all .4s ease-in-out;
}

.downward {
transform: rotate(15deg);
transform-origin: center;
transition: all .4s ease-in-out;
}
.upward{
transform: rotate(-15deg);
transform-origin: center;
transition: all .4s ease-in-out;
}